<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APESuperHUD.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Alamofire.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>JSAnimatedImagesView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>MSWeakTimer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-NewListForEye.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SnapKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>StarWars.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SwiftyJSON.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>YYCache.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>YYImage.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>YYWebImage.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10164C90705E3EC5988101AFEBDF43FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E560A03AE9BACDA736BFABA408F9829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B3C7E043402AE31E32F07A28778BD32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5689DBC1D9E1890F3636819BE949D0EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79C040AFDDCE1BCBF6D8B5EB0B85887F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>806721917CFAD67A80729657C1919119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9264F691BDFF3B2FEAD97AA691CD8F8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BE1D0C10D4509AF9311D0A7619E161C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD2292AC6088BD86D0FE62C45866EDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD78F9BFE83548E257E116C9193E541C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB1AF634DB878AE63C32EB36611093BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
